/* Hero Section */
.hero {
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    color: white;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.search-container input {
    width: 350px;
    padding: 14px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-container button {
    width: 55px;
    border: none;
    background-color: #ff6b35;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.hero h1 {
    font-size: 32px;
    margin: 10px 0;
}

.hero p {
    font-size: 14px;
    letter-spacing: 2px;
}